* {
	font-family: 'Asap';
}

hr {
	border-width: 2px;
	border-color: #3d5a80;
}

/* Split the screen in half */
.split {
	height: 100%;
	width: 50%;
	position: fixed;
	z-index: 1;
	top: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	padding-top: 20px;
}

/* Control the left side */
.left {
	left: 0;
	background-color: #0f1f35;
}

h1,
p {
	margin-top: 5%;
	margin-bottom: 5%;
	color: oldlace;
}

/* Control the right side */
.right {
	right: 0;
	background-color: oldlace;
}

/* If you want the content centered horizontally and vertically */
.left-centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.right-centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: left;
}

.profiles a {
	display: inline-block;
	padding: 5px;
}
/* Style the image inside the centered container, if needed */
#headshot {
	width: 70%;
	border-radius: 50%;
}

#about-me {
	color: #3d5a80;
}
